<template>
  <b-container class="py-5">
    <b-row>
      <b-col class="my-3 text-center" cols="12" lg="4" offset-lg="4"
      >
        <div class="img-container">
          <b-img class="esport-img" :src="require('~/assets/img/blobbiemundo-logo.png')" fluid />
        </div>
        <ul class="teams-list">
          <li>
            <nuxt-link to="/miraflores-team" class="link">
              Miraflores Team
            </nuxt-link>
          </li>
        </ul>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'tcgs-page'

}
</script>

<style lang="scss" scoped>
@import "assets/scss/main";
.section-title {
  font-size: $h1-font-size * 0.5;
  @include media-breakpoint-up(sm) {
    font-size: $h1-font-size * 0.8;
  }
  @include media-breakpoint-up(md) {
    font-size: $h1-font-size * 0.9;
  }
  @include media-breakpoint-up(lg) {
    font-size: $h1-font-size;
  }
  @include media-breakpoint-up(xl) {
    font-size: $h1-font-size * 1.1;
  }

}
.img-container {
  height: 100px;
}
.esport-img {
  max-height: 100px;
}
.teams-list{
  padding: 0;
  font-size: 25px;
  font-weight: 600;
  list-style-type: none;
}
.link:link
{
   color: rgb(52, 52, 59);
   text-decoration: none;
}
.link:visited
{
   color: black;
   text-decoration: none;
}
.link:hover
{
   color: black;
   text-decoration: none;
}
.link:active
{
   color: black;
   text-decoration: none;
}
</style>
