$font-size-base:  1.125rem;

$font-family-base: 'Raleway', sans-serif;

$h1-font-size: 5.125rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.5rem;

$spacer: 1rem;

$spacers: (
  25: ($spacer * .75),
  3: ($spacer * 1),
  4: ($spacer * 1.5),
  45: ($spacer * 2),
  5: ($spacer * 2.5),
  55: ($spacer * 3.5),
  6: ($spacer * 4.5),
  7: ($spacer * 6),
);


