@import "variables";

// Required Bootstrap modules
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Optional Bootstrap modules
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/utilities";

.title-bolder {
  font-weight: 900;
  margin-bottom: 3rem;
}


.title-bold {
  font-weight: 700;
}

.btn-md, .btn-lg {
  &.btn-rounded {
    border-radius: 300px;
  }
}
