<template>
  <div id="footer" class="footer-wrapper">
    <b-container fluid class="footer-content">
      <social-nav class="mb-4" />
      <b-row>
        <b-col cols="12" sm="8" class="my-3">
          <b-img height="50" :src="require('~/assets/img/logo.png')"></b-img>
        </b-col>
      </b-row>
      <b-row class="mt-3">
        <b-col cols="12">
          <p>Creado por <a class="text-light font-weight-bold" href="https://www.4keys.pe">4 Keys</a></p>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import SocialNav from '~/components/SocialNav'
export default {
  name: 'the-footer',
  components: {
    SocialNav
  }
}
</script>

<style lang="scss" scoped>
@import "assets/scss/main";
$section-padding: 60px;

.footer-wrapper {
  padding: {
    bottom: $section-padding;
    top: $section-padding;
  }
  background-color: #3c342f;
  color: white;

  @include media-breakpoint-up(md) {
    padding: {
      left: 1.8rem;
      right: 1.8rem;
    }
  }
  @include media-breakpoint-up(lg) {
    padding: {
      left: 3rem;
      right: 3rem;
    }
  }
  @include media-breakpoint-up(xl) {
    padding: {
      left: 6rem;
      right: 6rem;
    }
  }
}

.footer-content {
  max-width: 1440px;
}
</style>
