<template>
<nav class="navbar-principal py-3 pt-md-25 px-3 px-md-5 px-lg-7">
  <nuxt-link tag="span" to="/" class="logo-wrapper">GAMERFREAK</nuxt-link>
  <button
    v-show="!isMedium"
    class="navbar-open-icon-wrapper"
    type="button"
    aria-label="Toggle Navigation"
    @click="toggleNavbar"
  >
    <svg class="navbar-icon navbar-open-icon" viewBox="0 0 24 18">
      <line fill="none" stroke-miterlimit="10" x1="0" y1="2" x2="24" y2="2" />
      <line fill="none" stroke-miterlimit="10" x1="0" y1="9" x2="24" y2="9" />
      <line fill="none" stroke-miterlimit="10" x1="0" y1="16" x2="24" y2="16" />
      <line fill="none" stroke-miterlimit="10" x1="0" y1="1.5" x2="24" y2="1.5" />
      <line fill="none" stroke-miterlimit="10" x1="0" y1="8.5" x2="24" y2="8.5" />
      <line fill="none" stroke-miterlimit="10" x1="0" y1="15.5" x2="24" y2="15.5" />
    </svg>
  </button>

  <transition name="move-menu">
  <div
    v-show="navbarExpanded || isMedium"
    class="menu-wrapper"
  >
    <button
      v-show="!isMedium"
      class="navbar-close-icon-wrapper"
      type="button"
      aria-label="Toggle Navigation"
      aria-expanded
      @click="toggleNavbar"
    >
      <svg class="navbar-icon navbar-close-icon" viewBox="0 0 16 16">
        <line fill="none" stroke-miterlimit="10" x1="1.4" y1="1.4" x2="14.4" y2="14.4"/>
        <line fill="none" stroke-miterlimit="10" x1="1.4" y1="14.4" x2="14.4" y2="1.4"/>
      </svg>
    </button>

    <ul class="menu-nav ml-auto">
      <li class="menu-option" @click="changeSection('about-us')">
        {{ '¿QUIENES SOMOS?' | formatCase(!isMedium) }}
      </li>
      <li class="menu-option" @click="changeSection('find-us')">
        {{ 'UBICACIONES' | formatCase(!isMedium) }}
      </li>
      <li class="menu-option" @click="changeSection('our-tips')">
        {{ 'TIPS' | formatCase(!isMedium) }}
      </li>
      <li class="menu-option" @click="changeSection('contact-us')">
        {{ 'CONTACTO' | formatCase(!isMedium) }}
      </li>
    </ul>
  </div>
  </transition>

</nav>
</template>

<script>
import { responsiveMixin } from '~/utils/responsive'
import toCapital from 'to-capital-case'

export default {
  name: 'the-navbar',
  filters: {
    formatCase (words, condition) {
      return condition ? toCapital(words) : words
    }
  },
  mixins: [responsiveMixin],
  data () {
    return {
      navbarExpanded: false
    }
  },
  methods: {
    toggleNavbar () {
      this.navbarExpanded = !this.navbarExpanded
      // document.body.classList.tonggle('no-scroll')
    },
    changeSection (sectionId) {
      this.toggleNavbar()
      this.$emit('go-to-section', sectionId)
    }
  }
}
</script>

<style lang="scss" scoped>
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/breakpoints";

$maximum-breakpoint-before-expand: sm;
$minimum-breakpoint-before-contract: md;

$open-navbar-size: 24px;
$close-navbar-size: 24px;

$black: rgba(0, 0, 0, .8);
$brown: #3c342f;
$white: rgb(255, 255, 255);
$white-demitransparent: rgba(255, 255, 255, .8);

.navbar-principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  @include media-breakpoint-down($maximum-breakpoint-before-expand) {
    background-color: $white;
  }
  @include media-breakpoint-up($minimum-breakpoint-before-contract) {
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
}

.navbar-open-icon {
  &-wrapper {
    border: 0;
    outline: 0;
    stroke: $black;
    color: $black;
    background-color: transparent;
    cursor: pointer;
  }

  display: block;
  width: $open-navbar-size;
  height: $open-navbar-size;
}

.navbar-close-icon {
  &-wrapper {
    position: absolute;
    top: 22px;
    right: 22px;
    border: 0;
    outline: 0;
    stroke: $white;
    background-color: transparent;
    cursor: pointer;
  }

  z-index: 20;
  display: block;
  width: $close-navbar-size;
  height: $close-navbar-size;
}

.logo-wrapper {
  margin-right: 1rem;
  color: $black;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 2.2px;
  cursor: pointer;

  @include media-breakpoint-up($minimum-breakpoint-before-contract) {
  color: $white;
  }
}

.menu-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 20;
  flex-grow: 1;
  flex-basis: 100%;
  background-color: $brown;

  @include media-breakpoint-up($minimum-breakpoint-before-contract) {
    position: relative;
    left: unset;
    right: unset;
    top: unset;
    bottom: unset;
    background-color: transparent;
    display: flex;
    transition: none;
  }

  .menu-nav {
    display: flex;
    flex-direction: column;
    padding: 36px;
    list-style: none;

    @include media-breakpoint-up($minimum-breakpoint-before-contract) {
      padding-right: 0;
      padding-left: 0;
      margin-bottom: 0;
      flex-direction: row;
    }
  }

  .menu-option {
    padding: .5rem 1rem;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: $white-demitransparent;
    cursor: pointer;

    @include media-breakpoint-up($minimum-breakpoint-before-contract) {
      flex-direction: row;
      font-size: 14px;
      font-weight: bold;
      color: $white;
      letter-spacing: 1.6px;

      &:hover {
        color: $white-demitransparent;
      }
    }
  }
}

.move-menu-enter-active, .move-menu-leave-active {
  transition: all .3s ease;
}
.move-menu-enter, .move-menu-leave-to {
  transform: translateX(-100vw);
}
</style>
