<template>
  <div>
    <full-image-section :image="require('~/assets/img/hero.jpg')">
      <the-navbar @go-to-section="onGoToSection" />
      <b-container class="hero-container text-center">
        <div>
          <h1 class="title-bolder section-title">SE UN GAMER<br>PROFESIONAL</h1>
          <h3 class="font-weight-normal">
            Tu nos das el talento y nosotros la oportunidad
          </h3>
        </div>
      </b-container>
    </full-image-section>

    <b-container id="about-us" class="section-2-container text-center">
      <h2 class="mb-3"><strong>NUESTRO ENFOQUE</strong></h2>
      <h3>
        Somos una empresa que se enfoca en la comunidad limeña que juegan videojuegos top (Csgo, Dota2 y LOL). Este mundo de los videojuegos ha ido en crecimiento a lo largo de los años pues con ayuda de los avances de tecnologías de información, la calidad de juego ha aumentado por ende la competitividad toma un punto más serio a la hora de jugar.
      </h3>
    </b-container>

    <full-image-section id="find-us" :image="require('~/assets/img/contact.jpg')">
      <b-container class="section-3-container text-center">
        <div class="content-container">
          <div class="content-wrapper">
            <h1 class="title-bolder section-title">REÚNETE CON NOSOTROS</h1>
            <h3 class="pb-2">
              Sabemos que tu habilidad tiene precio, por lo que tu talento tenemos que pulirlo.
            </h3>
            <b-button class="btn-lg btn-outline-light btn-rounded px-5 mt-3" target="_blank" href="https://www.google.com/maps/place/Jir%C3%B3n+Tarapac%C3%A1+333,+Magdalena+del+Mar+15086/@-12.0889596,-77.0694412,17z/data=!3m1!4b1!4m5!3m4!1s0x9105c9a87200f1cb:0x7798f5859bcae1d0!8m2!3d-12.0889596!4d-77.0672471">
              Ven y consíguelo
            </b-button>
          </div>
        </div>
      </b-container>
    </full-image-section>

    <b-container class="section-4-container">
      <!-- <b-row>
        <b-col sm="4">
          <div class="image-wrapper">
            <b-img class="image-fullwidth" :src="require('~/assets/img/security.png')"></b-img>
          </div>
        </b-col>
        <b-col sm="4">
          <div class="image-wrapper">
            <b-img class="image-fullwidth" :src="require('~/assets/img/price.png')"></b-img>
          </div>
        </b-col>
        <b-col sm="4" class="my-4 my-sm-0">
          <div class="image-wrapper">
            <b-img class="image-fullwidth" :src="require('~/assets/img/time.png')"></b-img>
          </div>
        </b-col>
      </b-row> -->
      <b-row class="mt-5">
        <b-col cols="12" class="mb-6">
          <h1 class="title-bolder section-title text-center">TIPS</h1>
        </b-col>
        <b-col cols="12" sm="6">
          <p class="text-muted">
            Por qué queremos ganarnos tu confianza, tenemos premisa y garantías con respecto a tu conformidad con nosotros.
          </p>
          <p class="text-muted">
            Nos comprometemos contigo y tu carrea profesional todos tus éxitos son para nosotros un logro. Con nuestro seguimiento y herramientas te garantizaran a ti como jugador el mejor desempeño y la mayor cantidad de éxito posible.
          </p>
        </b-col>
        <b-col cols="12" sm="6">
          <p class="text-muted">
            Te convertirás en un profesional en el menor tiempo posible en las grandes ligas , con nosotros desde el primer día impulsaremos tu carrera hacia la mira de un veterano.
          </p>
        </b-col>
      </b-row>
      <div id="our-tips" class="text-center" >
        <nuxt-link to="/tips">
          <b-button class="btn-md btn-outline-secondary btn-rounded px-4 py-3 mt-5">
            VER TIPS
          </b-button>
        </nuxt-link>
      </div>
    </b-container>

    <full-image-section id="contact-us" :image="require('~/assets/img/ubication.jpg')">
      <b-container class="section-3-container text-center">
        <div class="content-container">
          <div class="content-wrapper">
            <h1 id="contacto" class="title-bolder section-title">CONTACTO</h1>
              <nuxt-link to="/teams">
                <b-button class="btn-lg btn-outline-light btn-rounded px-5 mt-3">
                  Recibe mas información
                </b-button>
              </nuxt-link>
          </div>
        </div>
      </b-container>
    </full-image-section>

    <b-container class="section-6-container">
      <b-row class="pb-sm-6">
        <b-col cols="12" class="mb-7">
          <h1 class="title-bolder section-title text-center">INTEGRANTES</h1>
        </b-col>
        <b-col cols="12" sm="4">
          <h3 class="title-bold">MILTON CHINCHAY</h3>
          <p class="mt-3">GERENTE GENERAL</p>
          <p>
            Brinda seguimiento al avance del proyecto y facilita las reuniones necesarias para la asesoría
          </p>
        </b-col>
        <b-col cols="12" sm="4">
          <h3 class="title-bold">ALONSO ELÍAS</h3>
          <p class="mt-3">COORDINADOR</p>
          <p>
            Coordina las reuniones de grupo para revisar los avances hasta la fecha
          </p>
        </b-col>
        <b-col cols="12" sm="4">
          <h3 class="title-bold">DANIEL KOU</h3>
          <p class="mt-3">GESTOR</p>
          <p>
            Toma decisiones que organizan el trabajo de forma más efectiva.
          </p>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" sm="4" offset-sm="2">
          <h3 class="title-bold">JULIO ARROYO</h3>
          <p class="mt-3">JEFE DE PROYECTO</p>
          <p>
            Planifica, dirige el proyecto y es responsable del cumplimiento de los objetivos del mismo
          </p>
        </b-col>
        <b-col cols="12" sm="4">
          <h3 class="title-bold">JOEL TICLAVILCA</h3>
          <p class="mt-3">GESTOR</p>
          <p>
            Toma decisiones que organizan el trabajo de forma más efectiva.
          </p>
        </b-col>
      </b-row>
    </b-container>
  </div>


</template>

<script>
import TheNavbar from '~/components/TheNavbar'
import FullImageSection from '~/components/FullImageSection'
import scrollIntoView from 'scroll-into-view'

export default {
  name: 'index-page',
  components: {
    TheNavbar,
    FullImageSection
  },
  methods: {
    onGoToSection (elementId) {
      const element = document.getElementById(elementId)
      if (element) {
        scrollIntoView(element)
      } else {
        console.log(`${elementId} element not found!`)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "assets/scss/main";

$hero-padding: 180px;
$section-2-padding: 160px;
$section-3-padding: 180px;
$section-4-padding: 120px;
$section-5-padding: 320px;
$section-6-padding: 120px;

.hero-container{
  padding: {
    top: $hero-padding * 0.5;
    bottom: $hero-padding * 0.5;
  }
  @include media-breakpoint-up(md) {
    padding: {
      top: $hero-padding * 0.6;
      bottom: $hero-padding * 0.6;
    }
  }
  @include media-breakpoint-up(lg) {
    padding: {
      top: $hero-padding * 0.8;
      bottom: $hero-padding * 0.8;
    }
  }
  @include media-breakpoint-up(xl) {
    padding: {
      top: $hero-padding * 0.5;
      bottom: $hero-padding;
    }
  }
}

.section-title {
  font-size: $h1-font-size * 0.5;
  @include media-breakpoint-up(sm) {
    font-size: $h1-font-size * 0.8;
  }
  @include media-breakpoint-up(md) {
    font-size: $h1-font-size * 0.9;
  }
  @include media-breakpoint-up(lg) {
    font-size: $h1-font-size;
  }
  @include media-breakpoint-up(xl) {
    font-size: $h1-font-size * 1.1;
  }
}

.section-2-container {
  padding: {
    top: $section-2-padding;
    bottom: $section-2-padding;
  }
}

.section-3-container{
  padding: {
    top: $section-3-padding * 0.7;
    bottom: $section-3-padding * 0.7;
  }
  @include media-breakpoint-up(lg) {
    padding: {
      top: $section-3-padding * 0.8;
      bottom: $section-3-padding * 0.8;
    }
  }
  @include media-breakpoint-up(xl) {
    padding: {
      top: $section-3-padding;
      bottom: $section-3-padding;
    }
  }
}

.section-4-container {
  padding: {
    top: $section-4-padding;
    bottom: $section-4-padding;
  }
  .image-wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;

    .image-fullwidth {
      position: absolute;
      height: 100%;
      padding: 2.5rem;
      @include media-breakpoint-up(md) {
        padding: 0.8rem;
      }
      @include media-breakpoint-up(lg) {
        padding: 3.5rem;
      }
    }
  }
}
.section-5-container {
  padding: {
    top: $section-5-padding * 0.8;
    bottom: $section-5-padding * 0.8;
  }

  @include media-breakpoint-up(lg) {
    padding: {
      top: $section-5-padding * 0.8;
      bottom: $section-5-padding * 0.8;
    }
  }
  @include media-breakpoint-up(xl) {
    padding: {
      top: $section-5-padding;
      bottom: $section-5-padding;
    }
  }
}

.section-6-container {
  padding: {
    top: $section-6-padding;
    bottom: $section-6-padding;
  }
}

.content-container {
  display: flex;
  justify-content: center;
}
.content-wrapper {
  width: 600px;
}
</style>
