<template>
  <b-container class="py-5">
    <nuxt-link to="/teams/esports">
      <b-img class="button" :src="require('~/assets/img/back-button.png')" height="60"/>
    </nuxt-link>
    <b-row align-h="center" class="text-center">
      <b-card
        img-src="https://d1u5p3l4wpay3k.cloudfront.net/lolesports_gamepedia_en/thumb/3/3e/Mad_Kingslogo_square.png/450px-Mad_Kingslogo_square.png?version=ba7bf455e2b94e42b5056e73e8ba47e5"
        img-alt="Image"
        class="mb-3 descripcion"
      >
        <h2 class="title-bolder">Mad Kings</h2>
        <p class="card-text">
          Mad Kings es un equipo profesional de CSGO fundado el 2016 por la empresa Gaming Factory para redir en competiciones de este juego. Se destaca por ser uno de los mejores equipos del Perú.
        </p>
        <b-button class="mt-3 card-text" href="https://mailchi.mp/d724ba4a7354/solicitud" variant="primary">Postular</b-button>
      </b-card>
    </b-row>

  </b-container>
</template>

<script>
export default {
  name: 'mad-kings-page'
}
</script>

<style lang="scss" scoped>
.button {
  float: left;
  position: absolute;
}
.title-bolder {
  font-size: 50px;
}
.card-text {
  font-size: 25px;
}
</style>
