<template>
  <b-container class="py-5">
    <nuxt-link to="/teams/esports">
      <b-img class="button" :src="require('~/assets/img/back-button.png')" height="60"/>
    </nuxt-link>
    <b-row align-h="center" class="text-center">
      <b-card
        img-src="https://image.ibb.co/e3Ohoc/miraflores_team_logo.png"
        img-alt="Image"
        class="mb-3 descripcion"
      >
        <h2 class="title-bolder">Miraflores Team</h2>
        <p class="card-text">
          Miraflores Team es un equipo peruano de Trading Card Games conformado actualmente por Oscar Taboada y Alonso Elías. Actualmente se destaca por haber quedado en primer y segundo puesto del Torneo Regional de Blobbiemundo.
        </p>
        <b-button class="mt-3 card-text" href="https://mailchi.mp/d724ba4a7354/solicitud" variant="primary">Postular</b-button>
      </b-card>
    </b-row>

  </b-container>
</template>

<script>
export default {
  name: 'miraflores-team-page'
}
</script>

<style lang="scss" scoped>
.button {
  float: left;
  position: absolute;
}
.title-bolder {
  font-size: 50px;
}
.card-text {
  font-size: 25px;
}

</style>
