<template>
  <b-container class="py-5">
    <nuxt-link to="/teams/esports">
      <b-img class="button" :src="require('~/assets/img/back-button.png')" height="60"/>
    </nuxt-link>
    <b-row align-h="center" class="text-center">
      <b-card
        img-src="https://d1u5p3l4wpay3k.cloudfront.net/lolesports_gamepedia_en/2/24/Space_eSportslogo_square.png?version=1352e7508b7e001da75af441b9221997"
        img-alt="Image"
        class="mb-3 descripcion"
      >
        <h2 class="title-bolder">Space eSports</h2>
        <p class="card-text">
          Space eSports es un equipo profesional de League of Legends Latinoamericano creado el 2013 en Mexico. Actualmente compite en la región de Latinoamérica Norte.
        </p>
        <b-button class="mt-3 card-text" href="https://mailchi.mp/d724ba4a7354/solicitud" variant="primary">Postular</b-button>
      </b-card>
    </b-row>

  </b-container>
</template>

<script>
export default {
  name: 'space-esports-page'
}
</script>

<style lang="scss" scoped>
.button {
  float: left;
  position: absolute;
}
.title-bolder {
  font-size: 50px;
}
.card-text {
  font-size: 25px;
}
</style>
