<template>
  <b-container class="py-5">
    <nuxt-link to="/teams/esports">
      <b-img class="button" :src="require('~/assets/img/back-button.png')" height="60"/>
    </nuxt-link>
    <b-row align-h="center" class="text-center">
      <b-card
        img-src="http://www.separadasydivorciadas.org/wordpress/wp-content/uploads/2016/09/cu%C3%A1l-es-la-bandera-de-per%C3%BA-.png"
        img-alt="Image"
        class="mb-3 descripcion"
      >
        <h2 class="title-bolder">Team Perú</h2>
        <p class="card-text">
          Team Perú es un equipo profesional de Dota 2 Peruano creado el 2017. Actualmente viene de quedar en 9no puesto en la World Electronic Sports Game 2017 en China.
        </p>
        <b-button class="mt-3 card-text" href="https://mailchi.mp/d724ba4a7354/solicitud" variant="primary">Postular</b-button>
      </b-card>
    </b-row>

  </b-container>
</template>

<script>
export default {
  name: 'team-peru-page'
}
</script>

<style lang="scss" scoped>
.button {
  float: left;
  position: absolute;
}
.title-bolder {
  font-size: 50px;
}
.card-text {
  font-size: 25px;
}
</style>
