<template>
  <b-container class="py-5">
    <nuxt-link to="/">
      <b-img class="button" :src="require('~/assets/img/back-button.png')" height="60"/>
    </nuxt-link>
    <h1 class="title-bolder section-title text-center">
        EQUIPOS
    </h1>
    <b-row>
      <b-col class="my-3" cols="12" lg="6"
      >
        <router-link to="/teams/esports">
          <b-img class="link-img" :src="require('~/assets/img/e-sports.png')" fluid />
        </router-link>
      </b-col>
      <b-col class="my-3" cols="12" lg="6">
        <nuxt-link to="/teams/tcgs">
          <b-img class="link-img" :src="require('~/assets/img/tcgs.png')" fluid />
        </nuxt-link>
      </b-col>
    </b-row>
    <nuxt-child/>
  </b-container>
</template>

<script>
export default {
  name: 'teams-page'

}
</script>

<style lang="scss" scoped>
@import "assets/scss/main";
.button {
  float: left;
  position: absolute;
}
.section-title {
  font-size: $h1-font-size * 0.5;
  @include media-breakpoint-up(sm) {
    font-size: $h1-font-size * 0.8;
  }
  @include media-breakpoint-up(md) {
    font-size: $h1-font-size * 0.9;
  }
  @include media-breakpoint-up(lg) {
    font-size: $h1-font-size;
  }
  @include media-breakpoint-up(xl) {
    font-size: $h1-font-size * 1.1;
  }
}

.link-img:hover {
  filter: brightness(150%);
}
</style>
