<template>
  <b-container class="py-5">
    <nuxt-link to="/">
      <b-img class="button" :src="require('~/assets/img/back-button.png')" height="60"/>
    </nuxt-link>
    <h1 class="title-bolder section-title text-center">
      TIPS
    </h1>
    <b-row>
      <b-col class="my-3 embed-responsive embed-responsive-16by9" cols="12" lg="6">
        <iframe class="px-3 embed-responsive-item" src="https://www.youtube.com/embed/CRhQp1E9nx8" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </b-col>
      <b-col class="my-3 embed-responsive embed-responsive-16by9" cols="12" lg="6">
        <iframe class="px-3 embed-responsive-item" src="https://www.youtube.com/embed/K97397oZato" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'tips-page',
}
</script>

<style lang="scss" scoped>
@import "assets/scss/main";
.button {
  float: left;
  position: absolute;
}

.section-title {
  font-size: $h1-font-size * 0.5;
  @include media-breakpoint-up(sm) {
    font-size: $h1-font-size * 0.8;
  }
  @include media-breakpoint-up(md) {
    font-size: $h1-font-size * 0.9;
  }
  @include media-breakpoint-up(lg) {
    font-size: $h1-font-size;
  }
  @include media-breakpoint-up(xl) {
    font-size: $h1-font-size * 1.1;
  }
}
</style>
